body {
	padding: 0;
	margin: 0;
	background-color: #f3f3f3;
	color: #0d3351;
}

.container {
	margin: 0 auto;
	max-width: 1600px;
}

.hidden {
	display: none !important;
}

.page-header {
	margin-bottom: 120px;
	background-repeat: no-repeat;
	background-position: center top;
}
.header-top {
	padding: 30px 15px;
}

.header-top, .header-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: Raleway;
}

.header-top__item {
	margin-left: 30px;
}

.header-top__item:first-child {
	flex: 1;
}

.btn-menu {
	display: block;
	width: 22px;
	height: 16px;
	flex: 1;
}

.header-top__item-container {
	display: block;
	margin-right: 30px;
	white-space: nowrap;
	
	color: #0d3351;
	letter-spacing: 0.7px;
}
.header-top__item-container b {
	font-family: 'Maven Pro', sans-serif;
	font-size: 18px;
	/* font-weight: bold; */
}

.header-top__item-container small {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

a {
	text-decoration: none;
}

a span {
	vertical-align: middle;
}

.header-top__item-icon {
	display: inline-block;
	width: 10px;
	height: 12px;
	background-color: transfarent;
	background-image: url("../img/sprite-header.png");
	background-repeat: no-repeat;
}

.header-top__item-icon--profile {
	background-position: 0px 0px;
}

.header-top__item-icon--currency {
	background-position: -15px 0px;
}

.header-top__item-icon--language {
	display: none;
}

.header-top__item-title {
	font-size: 14px;
}

a.header-top__item-container:hover {
	opacity: .8;
}

.header-top__item-arrow {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #0d3451 transparent transparent transparent;
}

.promo {
	text-align: center;
	margin-top: -190px;
	background-image: url("../img/header-bg.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 150px;
	height: 750px;
	box-sizing: border-box;
}

.promo img {
	position: relative;
	top: 50px;
	display: inline-block;
	width: 88px;
	height: 88px;
}

.promo__title {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 100px;
	font-style: normal;
	line-height: normal;
	color: #0d3351;
	margin: 0;
}

.promo__title span {
	font-size: .36em;
	text-transform: none;
}

.promo__title small {
	font-size: .75em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}

.btn-primary {
	background-color: rgb(51, 199, 253);
	color: white;
}

.btn-primary:hover {
	background-color: rgb(87, 207, 252);
	/*opacity: 0.8;*/
	/*filter: brightness(105%);*/
}

.btn-lg {
	padding: 12px 24px;
	font-size: 16px;
}

.promo-action {
	margin-top: 25px;
}

.line-dashed {
	display: inline-block;
	width: 58px;
	height: 281px;
	margin-top: 20px;
	background-color: transparent;
	background-image: url("../img/line-dashed.png");
	background-repeat: no-repeat;
	background-position: center;
}

.contacts b {
	font-family: 'Maven Pro', sans-serif;
	font-weight: bold;
	letter-spacing: 0.7px;
	color: #0d3351;
}

.contacts span {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: normal;/*48px;*/
	letter-spacing: 0.7px;
	color: #0d3351;
	text-transform: none;
}

main .content-header {
	text-align: center;
}

.content-header .title{
	display: inline-block;
	margin: 0;
	padding: 0;
	
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 1px;
	color: #0d3351;
	text-transform: none;
	text-decoration: none;
}

.content-header .sub-title {
	padding: 0;
	margin: 0;
	
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 1px;
	color: #0d3351;
	text-transform: none;
	text-decoration: none;
}

.content-header__sub-title--arrow {
	margin-left: 5px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
}

.catalog-item {
  margin: 10px 0;
  background-color: white;
  width: calc(50% - 20px);
  min-width: 350px;
}

.catalog-item img {
	display: block;
}

.catalog-item .summary {
	padding-left: 40px;
	padding-bottom: 40px;
	
	font-family: 'Raleway', sans-serif;
 	font-weight: 400;
}

.catalog-item__title {
	display: inline-block;
	padding: 0;
	margin: 0;
	
	font-size: 18px;
	line-height: 48px;
	color: #00a2dd;
}

.catalog-item__price {
	font-family: 'Roboto Slab', serif;
 	font-weight: 400;
	font-size: 30px;
	letter-spacing: 1px;
	color: #0d3351;
}

.catalog-item__description {
	font-size: 14px;
	margin-bottom: 10px;
}

.catalog-item__description dt {
	font-weight: bold;
	float: left;
	margin-right: 10px;
}
.catalog-item__description dd {
	
}

.load-more {
	padding: 30px 60px 60px 60px;
	text-align: center;
}


.page-footer {
	background-color: white;
}

.footer {
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
	padding: 30px 15px;
	
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.7px;
	color: #0d3351;
	text-transform: none;
}

.footer-col {
}

.footer-menu {
	flex: 1;
}
.footer-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer-menu a {
	color: #0d3351;
	text-decoration: none;
}

.footer-social {
	flex: 2;
}
.footer-social__title {
	margin-bottom: 10px;
	display: block;
}

.footer-social .social-btn {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #0d3351;
	margin-right: 10px;
	background-image: url("../img/sprite-footer.png");
	background-repeat: no-repeat;
}

.footer-social .social-btn-vk {
	background-position: 5px 5px;
}

.footer-social .social-btn-ok {
	background-position: -35px 5px;
}

.footer-social .social-btn-ut {
	background-position: -75px 5px;
}

.footer-social .social-btn-in {
	background-position: -115px 5px;
}

.footer-contacts {
	flex: 1;
}

.footer-copyright {
}